/* Reset podstawowy */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #08179d;
    padding: 20px;
}

header {
    text-align: center;      
    margin-bottom: 30px;
}

header img {
    header img {
    border-radius: 10px;
    margin-bottom: 15px;
}
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #08179d;
}

h2 {
    font-size: 1.5em;
    color: #08179d;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #3ca0e3;
    display: inline-block;
    padding-bottom: 5px;
}

section {
    margin-bottom: 30px;
}

.wprowadzenie p {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

ul ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 5px;
}

a {
    color: #2895df;
    text-decoration:underline ;
}

a:hover {
    text-decoration: underline;
}

.phone-number {
    font-weight: bold;
    color: #021554;
}

.stopka {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 40px;
    color: #7f8c8d;
}

hr {
    border: 0;
    height: 1px;
    background: #c0c8cd;
    margin: 30px 0;
}



