


.stopka {                                                                             
    font-size: 16px;                                                            
    font-family: serif;                                                                                  
    font-weight: bold;                                                          
    text-align: justify;                                                                                                      
    color: #114c9d; ;                                                            
}

.wprowadzenie{
    font-size: 16px;                                                      
    font-family: serif;                                                                            
                                                         
    text-align: justify;  



}


.phone-number {
    color: #114c9d; 
    font-weight: bold;
    font-style:oblique ;
}

